.img-youtube {
  background-color: rgb(39, 39, 39);
  background-image: url('../../assets/youtube.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
}